
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}


body {
  font-family: Arial, sans-serif;
  background-image: url("../imgs/fondo1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0b0a14;
  min-height: 100vh;
  padding: 25px;
  color: white;
  text-align: center;
  position: relative;
}


body::before {
  content: "";
  height: 100vh;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(4px);
  z-index: -2;
}

/* LUCES */
.glow {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: -1;

  background:
    radial-gradient(circle at 20% 30%, rgba(255,0,200,0.25), transparent 55%),
    radial-gradient(circle at 85% 60%, rgba(0,200,255,0.25), transparent 55%),
    radial-gradient(circle at 50% 85%, rgba(255,180,0,0.25), transparent 55%);
  
  filter: blur(120px);
}

/* FOTO */
.profile-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid rgba(255,255,255,0.6);

  box-shadow:
    0 0 15px rgba(255, 0, 180, 0.6),
    0 0 30px rgba(255, 0, 180, 0.3);

  margin-top: 35px;
}

/* CAJA-TÍTULO */
.title-wrap {
  background: rgba(0, 0, 0, 0.45);
  padding: 10px 18px;
  border-radius: 12px;
  margin-top: 20px;
  display: inline-block;
}

/* TÍTULO */
h1 {
  font-family: "Nosifer", sans-serif;
  font-size: 2.3rem;
  text-shadow: 0 0 18px rgba(255, 0, 200, 0.5);
}

/* SUBTÍTULO */
.sub {
  font-family: "Pirata One", serif;
  font-size: 24px;
  margin-top: 5px;
  text-shadow: 0 0 12px rgba(255, 255, 255, 0.4);
}

/* LINKS / BOTONES*/
.links {
  margin-top: 35px;
  width: 100%;
  max-width: 380px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* BOTÓN */
.btn {
  background: rgba(255, 255, 255, 0.18);
  border: 1px solid rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(16px);

  padding: 14px 18px;
  border-radius: 18px;
  text-decoration: none;
  color: #f8eaff;
  font-weight: bold;
  font-size: 17px;

  display: flex;
  align-items: center;
  padding-left: 30%;
  gap: 14px;

  position: relative;
  box-shadow:
    0 0 18px rgba(255,0,180,0.3),
    inset 0 0 10px rgba(255,255,255,0.15);

  transition: 0.25s ease;
}

/* HOVER */
.btn:hover {
  transform: scale(1.03);
  background: rgba(255,255,255,0.30);
  box-shadow:
    0 0 25px rgba(255, 0, 200, 0.55),
    inset 0 0 15px rgba(255,255,255,0.25);
}

/* ICONOS */
.icon-box {
  width: 44px;
  height: 44px;
  background: rgba(255,255,255,0.85);
  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0; /* evita deformaciones */
}

.icon {
  width: 24px;
  height: 24px;
}

/*
      FOOTER*/
footer {
  margin-top: 55px;
  width: 100%;
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;

  background: rgba(0,0,0,0.45);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 18px;
}

footer ul {
  list-style: none;
  font-size: 18px;
  line-height: 1.5;
}

.tf {
  font-size: 26px;
  margin-bottom: 10px;
  text-shadow: 0 0 18px rgba(255,255,255,0.45);
}



